<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expeditions</title>
</head>
<body>

<h2>Select expedition action</h2><br>

<form th:method="GET" th:action="@{/expeditions/getByIdRedirect}">
    <input type="submit" value="Get by ID"/>
</form><br>

<form th:method="GET" th:action="@{/expeditions/postRedirect}">
    <input type="submit" value="Create new"/>
</form><br>

<form th:method="GET" th:action="@{/expeditions/deleteRedirect}">
    <input type="submit" value="Delete one">
</form><br>

<form th:method="GET" th:action="@{/expeditions/operationsRedirect}">
    <input type="submit" value="Operate an expedition">
</form>

</body>
</html>